@model Init.Models.Sobre

@{
    ViewData["Title"] = "Sobre";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
        <ul>
            <h2>Conhecimento de: </h2>
            <li>  @Model.Sabe1</li>
            <li>  @Model.Sabe2</li>
            <li>  @Model.Sabe3</li>
            <li>  @Model.Sabe4</li>
            <li>  @Model.Sabe5</li>
            <li>  @Model.Sabe6</li>
        </ul>
</div>